* {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 35px;
    margin: 5px;
}

h1{
    font-size: larger;
    margin-top: 100px;
}

td {
    border: 1px solid grey;
}

td{
    padding: 10px;
}

.autoriz{
    zoom: 1.5;
    margin: 0;
}

.adminMenuDetails{
    margin-top: 50px;
}

details > summary {
    padding: 5px;
    background-color: #eee;
    color: #333;
    border: 1px #ccc solid;
    cursor: pointer;

    list-style-type: disc;  /* задаем маркер*/
}

details > div {
    border: 1px #ccc solid;
    padding: 10px;
}

details[open] > summary {
    color:#eee;
    background-color:#333;
}